 html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
      height: 100% !important;
      height: 100%;
      margin: 0 auto; 
    }
    
    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 100px;
      color: #000;
      margin-bottom: 5px;
      font-size: 50px;
      letter-spacing: -4px;
      font-weight: 100;
    }
    h1 span {
      font-size: 26px;
      margin: 0 5px;
      text-transform: capitalize;
      background: rgba(0,0,0,0.85);
      display: inline-block;
      color: #6D461D;
      border-radius: 5px 5px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px 5px;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      padding: 3px 10px;
    }
    h2 {
      color: #6D461D;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }
    
    .pointer {
      color: #9b59b6;
      font-family: 'Pacifico', cursive;
      font-size: 30px;
      margin-top: 15px;
    }
    
    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    .main h1 {
      padding:150px 50px;
      float: left;
      width: 100%;
      font-size: 45px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: white;
      margin: 0;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn{
      display: inline-block;
      border: 4px solid #A2261E;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #CC3126;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 100px;
      line-height: 140%;
      font-size: 15px;
      font-family: open sans;
      font-weight: bold;
      margin-right: 530px;
    }
    .reload:hover{
      background: #444;
    }
    .btn {
      width: 200px;
      color: rgb(255, 255, 255);
      border: 3px solid rgb(0, 0, 0);
      background: rgba(3, 3, 3, 0.75);
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: #444;
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
  
   /* .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      right: 100px;
      display: inline-block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 20 px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    .back:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
*/
    
    header {
      position: relative;
      z-index: 10;
    }

    .navbar-fixed {
      /*background-color: rgb(50, 150, 50);*/
      background-color: rgba(100, 100, 100, 0.9);
      height: 66px;
      top : 0px;
      box-shadow: 0px 3px 15px rgba(50, 50, 50, 0.60);
      -o-box-shadow: 0px 3px 15px rgba(50, 50, 50, 0.60);
      -webkit-box-shadow: 0px 3px 15px rgba(50, 50, 50, 0.60);
      -moz-box-shadow: 0px 3px 15px rgba(50, 50, 50, 0.60);
      position: fixed;
      width: 100%;
      z-index: 1000;
    }

    .navbar {
      width: 968px;
      margin: 0px auto;
    }
    .navbar-fixed .navbar ul{
      font-size: 16px;
      list-style: none;
      position: absolute;
      display: inline-block;
      margin-bottom: 40px;
      margin-top: 0px;
    }


    .navbar-fixed .navbar ul > li {
      height: 66px;
      float: right;
      position: relative;
      text-decoration: none;
      color: rgba(220, 220, 220, 0.6);
      font-size: 20px;   
    }

    .navbar-fixed .navbar > ul > li > a {
      text-decoration: none;
      float: left;
      color: rgba(220, 220, 220, 0.6);
      padding: 20px 20px 20px 20px;
      font-size: 20px;
    }

    .navbar-fixed .navbar > ul >li > a:hover {
      background-color: rgba(80, 80, 80, 0.6);
      float: left;
      color: rgba(220, 220, 220, 0.95);
      padding: 20px 20px 20px 20px;
      font-size: 20px;
    }

    
    .main .transbox
    {
     width: 590px;
     height: 230px;
     margin: 30px 50px;
     background-color: rgba(0, 0, 0, 0.760784);
     border: 1px solid black;
     opacity:0.4;
     border-radius: 10px;
     overflow: hidden;
     filter:alpha(opacity=60); /* For IE8 and earlier */  
    }
    .main .transbox p
    {
      font-weight: bold;
      margin : 20px 20px;
      color: #ffffff;
      width: 590px;
      line-height: 160%;
      text-align: left;
    }

    .main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 1000px;
      z-index: 3;
    }
    .main section  {
      overflow: hidden;
    }
    
    .main section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
    
    .main section.page1 {
      /*background:rgb(230, 217, 200);*/
      background:url(../images/bgpage1.PNG);
      background-size: cover;
      }
    .main section.page1 h1 {
      text-align: left;
      padding: 0;
      margin-left: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 60px;
      color: #FFFFFF;

    }
    .main section.page1 h2 {
      color: #FFFFFF;
      text-align: center;
      width: 590px;
      line-height: 160%;
    }

    .main section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main section .page_container .btns a{
      text-align: center;
    }
    .main section.page2 {
      background:url(../images/bgpage2.png) ;
      background-size: cover;
    }
    .main section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main section.page2 .page_container {
      top: 10%;
      margin-top: 10px;
      overflow: hidden;
    }
    .main section.page2 .note{
      margin: 0;
      margin-top: 2px;
      overflow: hidden;
      font-size: 10px;
      color: #aaa;
      font-weight: 100;
    }
    .main section.page2 .note b {
      color: #efefef;
    }
    .main section.page2 .note a {
      font-weight: 900;
      color: #efefef;
    }
    .main section.page2 .note a:hover,
    .main section.page2 .note a:focus {
      text-decoration: underline;
    }
    .main section.page2 h1 {
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 60px;
      letter-spacing: -1px;
      color: white;
      font-weight: 800;
    }
    .main section.page2 h2 {
      margin-bottom: 50px;
      color: rgba(255,255,255,0.85);
      text-align: center;
      line-height: 160%;
      font-weight: 600;
    }
    .main section.page2 h3 {
      color: rgba(255,255,255,0.85);
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 100%;
      font-weight: 700;
    }
    .main section.page2 ul {
      display: inline-block;
      text-align: left;
      margin: 0 auto 10px auto;
      color: rgba(255,255,255,0.85);
      font-weight: 400;
    }
    .main section.page2 ul li {
      display: inline;
      margin-right: 5px;
      padding: 3px;
      border-radius: 5px;
      box-shadow: inset 0px 0px 3px #444;
      background-color: #777;
    }
    .viewing-page-2 .back{
      background: rgba(0, 0, 0, 0.25);
      color: #FFF;
      }
    #quote{
      margin-top: 475px;
      margin-bottom: 10px;
    }
    .main section.page3 .page_container {
      padding-left: 25px;
      padding-bottom: 25px;
      background: rgba(255,255,255, 0.5);
      top: 25%;
      overflow: hidden;
      width: 500px;
      right: 285px;
    }
    .main section.page3 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: black;
    }
    .main section.page3 h2 {
      color: rgba(0,0,0,0.85);
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }
* content page 3*/

.content-wrapper {
 /*padding: 10px 10px;*/
  font-size: 30px;
  margin-left: 100px;
  margin-top: 100px;
  /*background-color: rgb(90, 240, 90);*/
  height: 100%;
  padding: 10px;
  margin: 100px 100px 100px 100px;
  display: inline-block;
}

#content-gallery {
  margin-top: 100px;
  margin-left: 100px;
  float: left;
}

.content {
  margin: 0px auto;
  width: 560px;
  padding: 10px 10px 10px 10px;
}

#content-box {
  overflow: hidden;
  height: 400px;
  padding: 10px;
  margin-top: 100px;
}

.content.text {
  margin: 7px auto;
  width: 560px;
  height: 400px;
  font-size: 18px;
  float: left;
  display: inline;

}

.content.text > div{
  background-color: rgba(240, 240, 240, 0.7);
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.8);
  /*font-size: 20px;*/
  padding: 20px 25px;
}

blockquote {
  background: rgb(200, 200, 200);
  font-style: italic;
  font-size: 16px;
  color: rgb(80, 80, 95);
  border-left: 5px solid rgb(100,100,100);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 550px;
}


/* gallery */
.gallery {
  box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.9);
  height: 400px;
  overflow: hidden;
}

.gallery .control {
  opacity: 0.60;
  padding: 185px 5px;
}

.gallery .control-left {
  float: left;
}

.gallery .control-right {
  float: right;
}
.gallery .control-left a {
  background-position: 0% 0%;
}

.gallery .control-right a {
  background-position: 100% 0%;
}

.gallery div.pics {
  -webkit-transform: translateX(0px);
  -webkit-transition: all 0.7s ease-in-out;
  float: left;
  width: 3004px;
  height: 0px;
  /*background-image: url('./images/gallery/1.jpg');
  background-position: center center;*/
}

.gallery .pics img {
  float: left;
  width: 560px;
  height: 400px;
  background-size: cover;
  background-position: center center;
}

/* footer */

#footer-wrapper {
  /*height: 50px;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  clear: both;
  color: white;
  background-color: rgba(90,90,90,0.8);*/

}

#footer {
position: relative;
margin: 43px 0 0;
min-width: 768px;
height: 70px;
background: #999;
padding: 10px 10px 0px 10px;
}

#footer_images{
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

#footer_content{
  display: inline;
  font-size: 8px;
  padding-bottom: 20px;
}
/*
#footer {
   clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: rgba(90,90,90,0.8);
  margin: 0px auto;
  text-align: center;
}*/